@media only screen and (min-width: 768px) {

    .NavbarColor{
        position: sticky; 
        top: 0; 
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #DCDDD8;
        height:66px;
    }

    .header-Container{
        height:100%;
        width:50%;
        margin: auto;
    }

    .Container{
        height:100%;
        width:50%;
        margin: auto;
        position: relative;
    }

    #Body{
        margin:0;
        clear:none;
        font-family: 'Poppins';
    }

    .Logo a{
        font-size: 22px;
        text-decoration:none;
        color:black;
    }

    #navbar{
        position: sticky;
        top: 0; 
        width: 100%;
        height:66px;
        background-color: #DCDDD8;
        z-index: 2;
    }

    .navbarDiv{
        display: flex;
        justify-content: space-between;
        height:100%;
        margin:auto;
    }

    .title{
        text-align: center;
        color:white;
        padding-bottom: 70px;
        padding-top: 135px;
        font-size: 32px;
        font-weight: bold;
    }

    .subtitle{
        text-align: center;
        color: white;
        padding-bottom: 135px;
        padding-top: 10px;
        font-size: 28px;
        font-weight: bold;
    }

    #home{
        margin-top: -26px;
        height:1080px;
        background-color: #0C0B07;
    }

    .homeDiv{
        margin:auto;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 300px;
    }

    .homeDiv h1{
        font-size: 3em;
    }

    .homeDiv p{
        font-size: 28px;
        margin: 0;
    }

    #about{
        
        height:1080px;
        background-color: #4B403D;
    }

    .aboutDiv{
        margin:auto;
    }

    .aboutIcons{
        display: flex;
        align-items: center;
        color:white;
        text-align: center;
    }

    .aboutIcons1{
        width:30%;
        margin:auto;
    }

    .aboutIcons1 img{
        border-radius: 50%;
        padding-bottom: 30px;
    }

    .aboutIcons2{
        width:30%;
        margin:auto;
        border-radius: 50%;
    }

    .aboutIcons2 img{
        border-radius: 50%;
        padding-bottom: 30px;
    }

    .aboutIcons3{
        width:30%;
        margin:auto;
        border-radius: 50%;
    }

    .aboutIcons3 img{
        border-radius: 50%;
        padding-bottom: 30px;
    }

    .aboutDiv img{
        width:100%;
        margin:auto;
    }

    #skills{
        height:1080px;
        background-color: #4B403D;
    }

    .skillsDiv{
        text-align: center;
        margin:auto;
    }

    #portfolio{
        height:1080px;
        background-color: #88948D;
    }

    .portfolioDiv{
        margin:auto;
    }

    .portfolioDivContent{
        display: block;
        text-align: center;
        color:white;
    }

    .portfolioDiv img{
        width: 400px;
        border-radius: 3px;
        outline-style: solid;
    }

    .portfolioDiv p{
        width: 400px;
        padding-top: 150px;
        margin: auto;
    }

    #contact{
        height:1080px;
        background-color: #88948D;
    }

    .contactDiv{
        margin:auto;
        color:white;
    }

    #footer{
        height:100px;
        background-color: #6A6A6A;
    }

    .footerDiv{
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footerDiv img{
        height:50px;
        padding:10px;
    }

    .navbarDiv ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .navbarDiv li {
        float: right;
    }

    .navbarDiv li a {
        display: block;
        color: black;
        text-align: center;
        padding: 20px 10px;
        text-decoration: none;
        font-size: 15px;
    }


    .navbarDiv li a:hover {
        text-decoration: solid underline black 4px;
    }

    input[type=text], select, textarea {
        width: 100%; 
        padding: 12px; 
        border: 1px solid #ccc;
        border-radius: 4px; 
        box-sizing: border-box;
        margin-top: 6px; 
        resize: vertical 
    }

    input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    .formContainer {
        border-radius: 5px;
        padding: 20px;
    }

    .formContainer small{
        color:red;
        visibility: hidden;
    }

    .skillsDiv ul {
        display: block;
        margin: 0 auto;
        padding: 0;
        max-width: 800px;
        text-align: center;
    }

    .skillsDiv li {
        display: inline-block;
        margin: 7px;
        padding: 5px 10px;
        color: #374054;
        background: #e4e4ea;
        list-style: none;
        font-size: 1.3em;
        border: 3px solid #868687;
        float: inherit;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .openNavBar{
        display:none;
    }

    #inner {
        transform: rotate(45deg);
        background-color: silver;
        width: 1500px;
        height: 1500px;
        top: 370px;
        right: 80%;
        position: absolute;
        border-radius: 20px;
        z-index: 1;
    }

    .button {
        border-radius: 5px;
        background-image: linear-gradient(to top, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%);
        padding: 3px 5px;
        border: 1px solid #000;
        color: black;
        text-decoration: none;
        position: absolute;
        margin-top: 50px;
    }

    .rightDiv{
        display: flex;
        justify-content: center;
        width: 50%;
    }

    .leftDiv{
        display: flex;
        justify-content: center;
        width: 50%;
    }
}
      
@media only screen and (max-width: 768px) {


    .NavbarColor{
        position: sticky; 
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #DCDDD8;
        height:66px;
    }

    .header-Container{
        height: 100%;
        width: 100%;
        margin: auto;
        display: grid;
        margin: auto;
        justify-content: center;
        position: sticky;
        top: 0;
        width: 100%;
        height: 66px;
        background-color: #DCDDD8;
        display: flex;
        z-index: 1;
    }

    .Container{
        height:100%;
        width:90%;
        margin: auto;
    }

    #Body{
        margin:0;
        clear:none;  
        font-family: 'Poppins';
    }

    .Logo a{
        font-size: 22px;
        text-decoration:none;
        color:black;
    }

    #navbar{
        position: sticky; 
        top: 0; 
        width: 100%;
        height:66px;
        background-color: #DCDDD8;
        display: flex;
        z-index: 1;
    }
    
    .navbarDiv{
        display: flex;
        justify-content: center;
        width: 50%;
        height:100%;
        margin:auto;
    }

    .title{
        text-align: center;
        color:white;
        padding-bottom: 25px;
        padding-top: 50px;
        font-size: 32px;
        font-weight: bold;
    }

    .subtitle{
        text-align: center;
        color:white;
        padding-bottom: 50px;
        padding-top: 25px;
        font-size: 28px;
        font-weight: bold;
    }

    #home{
        height:1920px;
        background-color: #0C0B07;
    }

    .homeDiv{
        margin: auto;
        color: white;
        display: grid;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 50%;
    }

    .homeDiv h1{
        font-size: 32px;
        position: relative;
        text-align: center;
    }

    .homeDiv p{
        font-size: 28px;
        position: relative;
        text-align: center;
    }

    #about{
        height:1080px;
        background-color: #4B403D;
    }

    .aboutDiv{
        margin:auto;
    }

    .aboutIcons{
        display: grid;
        color:white;
        text-align: center;
    }

    .aboutIcons1{
        padding-top: 30px;
        width: 50%;
        margin: auto;
    }

    .aboutIcons1 img{
        border-radius: 50%;
        padding-bottom: 10px;
    }

    .aboutIcons2{
        padding-top: 30px;
        width: 50%;
        margin: auto;
    }

    .aboutIcons2 img{
        border-radius: 50%;
        padding-bottom: 10px;
    }

    .aboutIcons3{
        visibility: collapse;
    }

    .aboutIcons3 img{
        border-radius: 50%;
        padding-bottom: 10px;
    }

    .aboutDiv img{
        width:100%;
        margin:auto;
    }

    #skills{
        height:1920px;
        background-color: #4B403D;
    }

    .skillsDiv{
        text-align: center;
        margin:auto;
    }

    #portfolio{
        height:1920px;
        background-color: #88948D;
    }

    .portfolioDiv{
        margin:auto;
    }

    .portfolioDivContent{
        display: block;
        text-align: center;
        color:white;
    }

    .portfolioDiv img{
        width:100%;
        height:auto;
        border-radius: 3px;
        outline-style: solid;
    }

    .portfolioDiv p{
        width:100%;
        padding-top: 150px;
    }

    #contact{
        height:1920px;
        background-color: #88948D;
    }

    .contactDiv{
        margin:auto;
        color:white;
    }

    #footer{
        height:100px;
        background-color: #6A6A6A;
    }

    .footerDiv{
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footerDiv img{
        height:50px;
        padding:10px;
    }

    .navbarDiv ul {
        display: none;
    }

    .navbarDiv li {
        float: right;
    }

    .navbarDiv li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    
    .navbarDiv li a:hover {
        text-decoration: solid underline black 4px;
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px; 
        border: 1px solid #ccc;
        border-radius: 4px; 
        box-sizing: border-box; 
        margin-top: 6px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }
    
    .formContainer small{
        color:red;
        visibility: hidden;
    }

    .skillsDiv ul {
        display: block;
        margin: 0 auto;
        padding: 0;
        max-width: 800px;
        text-align: center;
        margin-top:100px;
    }

    .skillsDiv li {
        display: inline-block;
        margin: 7px;
        padding: 5px 10px;
        color: #374054;
        background: #e4e4ea;
        list-style: none;
        font-size: 1.3em;
        border: 3px solid #868687;
        float: inherit;
    }

    .sidenav{
        padding-top: 15px;
    }
    .sidenav a{
        font-size: 18px;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    
    .sidenav a:hover {
        color: #f1f1f1;
    }
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .openNavBar{
        font-size:30px;
        cursor:pointer;
    }

    #inner {
        display: none;
    }

    .button {
        border-radius: 5px;
        background-image: linear-gradient(to top, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%); 
        padding: 3px 5px;
        border: 1px solid #000;
        color: black;
        text-decoration: none;
        position: absolute;
        margin-top: 110px;
    }

    .rightDiv{
        display: flex;
        justify-content: center;
    }
}